# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockCobbleLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockDirtLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockDyeBrick=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockDyeBrickB=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockGravelLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockLogLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockMetalLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockPlankLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockSandLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockStoneBrickLight=true
    B:c0_0ry.ferdinandsflowers.blocks.BlockStoneLight=true
    B:com.TheRPGAdventurer.ROTD.objects.blocks.BlockDragonNest=true
    B:com.bobmowzie.mowziesmobs.server.block.BlockPaintedAcacia=true
    B:com.creativemd.littletiles.common.blocks.BlockLTColored=true
    B:com.creativemd.littletiles.common.blocks.BlockLTColored2=true
    B:com.creativemd.littletiles.common.blocks.BlockStorageTile=true
    B:com.creativemd.opf.block.BlockLittlePicFrame=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonBone=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonScales=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingReturningState=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockMyrmexResin=true
    B:com.github.alexthe666.iceandfire.block.BlockSeaSerpentScales=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.mrcrayfish.furniture.blocks.BlockInflatableCastle=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.rwtema.extrautils2.blocks.BlockSimpleDecorative=true
    B:"com.rwtema.extrautils2.blocks.XUTree$XUTreePlanks"=true
    B:com.someguyssoftware.treasure2.block.DesertWishingWellBlock=true
    B:com.someguyssoftware.treasure2.block.OreBlock=true
    B:com.someguyssoftware.treasure2.block.WishingWellBlock=true
    B:com.someguyssoftware.treasure2.block.WitherLogBlock=true
    B:com.someguyssoftware.treasure2.block.WitherPlanksBlock=true
    B:fossilsarcheology.server.block.AmberOreBlock=true
    B:fossilsarcheology.server.block.AncientStoneBlock=true
    B:fossilsarcheology.server.block.AncientStonebrickBlock=true
    B:fossilsarcheology.server.block.AncientWoodBlock=true
    B:fossilsarcheology.server.block.AncientWoodPillarBlock=true
    B:fossilsarcheology.server.block.BubbleBlowerBlock=true
    B:fossilsarcheology.server.block.DenseSandBlock=true
    B:fossilsarcheology.server.block.FossilBlock=true
    B:fossilsarcheology.server.block.FossilLogBlock=true
    B:fossilsarcheology.server.block.FossilPlanksBlock=true
    B:fossilsarcheology.server.block.IcedStoneBlock=true
    B:fossilsarcheology.server.block.VolcanicAshBlock=true
    B:hellfirepvp.astralsorcery.common.block.BlockBlackMarble=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomSandOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockInfusedWood=true
    B:hellfirepvp.astralsorcery.common.block.BlockMarble=true
    B:"it.ostpol.furniture.init.ModBlocks$6"=true
    B:"it.ostpol.furniture.init.ModBlocks$7"=true
    B:"it.ostpol.furniture.init.ModBlocks$8"=true
    B:logictechcorp.libraryex.block.BlockMod=true
    B:logictechcorp.libraryex.block.BlockModBigMushroom=true
    B:logictechcorp.netherex.block.BlockAmethystOre=true
    B:logictechcorp.netherex.block.BlockElderMushroomStem=true
    B:logictechcorp.netherex.block.BlockHyphae=true
    B:logictechcorp.netherex.block.BlockNetherrack=true
    B:logictechcorp.netherex.block.BlockQuartzOre=true
    B:logictechcorp.netherex.block.BlockRime=true
    B:logictechcorp.netherex.block.BlockRimeOre=true
    B:logictechcorp.netherex.block.BlockWornIron=true
    B:matteroverdrive.blocks.BlockDecorative=true
    B:matteroverdrive.blocks.BlockDecorativeColored=true
    B:matteroverdrive.blocks.BlockDecorativeRotated=true
    B:matteroverdrive.blocks.BlockFusionReactorCoil=true
    B:matteroverdrive.blocks.includes.MOBlock=true
    B:matteroverdrive.blocks.includes.MOBlockOre=true
    B:matteroverdrive.blocks.world.DilithiumOre=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.geforcemods.securitycraft.blocks.BlockCrystalQuartz=true
    B:net.malisis.doors.block.RustyLadder=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:noppes.vc.blocks.BlockPlaceholder=true
    B:org.jglrxavpok.moarboats.common.blocks.BlockBoatBattery=true
    B:org.zawamod.init.blocks.BlockZAWA=true
    B:ovh.corail.tombstone.block.BlockDarkMarble=true
    B:panda.leatherworks.common.block.BlockDebarkedLog=true
    B:panda.leatherworks.common.block.BlockDummyWood=true
    B:panda.leatherworks.common.block.BlockDummyWoodPillar=true
    B:prospector.traverse.blocks.base.BlockTraverse=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodLog=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodPlanks=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:thebetweenlands.common.block.BasicBlock=true
    B:thebetweenlands.common.block.misc.BlockOctine=true
    B:thebetweenlands.common.block.plant.BlockBulbCappedMushroomStalk=true
    B:thebetweenlands.common.block.structure.BlockBeamTube=true
    B:thebetweenlands.common.block.structure.BlockCarvedMudBrick=true
    B:thebetweenlands.common.block.structure.BlockMudBricks=true
    B:thebetweenlands.common.block.structure.BlockMudTiles=true
    B:thebetweenlands.common.block.structure.BlockPortalFrame=true
    B:thebetweenlands.common.block.structure.BlockRottenBarkCarved=true
    B:thebetweenlands.common.block.structure.BlockWormDungeonPillar=true
    B:thebetweenlands.common.block.terrain.BlockCircleGem=true
    B:thebetweenlands.common.block.terrain.BlockGenericCollapsing=true
    B:thebetweenlands.common.block.terrain.BlockGenericOre=true
    B:thebetweenlands.common.block.terrain.BlockGenericStone=true
    B:thebetweenlands.common.block.terrain.BlockGiantRoot=true
    B:thebetweenlands.common.block.terrain.BlockHearthgroveLog=true
    B:thebetweenlands.common.block.terrain.BlockLogBetweenlands=true
    B:thebetweenlands.common.block.terrain.BlockLogSap=true
    B:thebetweenlands.common.block.terrain.BlockRottenLog=true
    B:thebetweenlands.common.block.terrain.BlockSwampDirt=true
    B:"thebetweenlands.common.registries.BlockRegistry$1"=true
    B:"thebetweenlands.common.registries.BlockRegistry$13"=true
    B:"thebetweenlands.common.registries.BlockRegistry$2"=true
    B:"thebetweenlands.common.registries.BlockRegistry$3"=true
    B:"thebetweenlands.common.registries.BlockRegistry$4"=true
    B:"thebetweenlands.common.registries.BlockRegistry$5"=true
    B:thedarkcolour.core.block.BlockBase=true
    B:thedarkcolour.core.block.BlockRotatable=true
    B:thedarkcolour.futuremc.block.BlockBlueIce=true
    B:thedarkcolour.futuremc.block.BlockLoom=true
    B:thedarkcolour.futuremc.block.BlockStrippedLog=true
    B:xyz.vsngamer.elevator.blocks.BlockElevator=true
    B:zathrox.explorercraft.blocks.AmethystOre=true
    B:zathrox.explorercraft.blocks.BlockBasalt=true
    B:zathrox.explorercraft.blocks.BlockMarble=true
    B:zathrox.explorercraft.blocks.BlockOreBlock=true
    B:zathrox.explorercraft.blocks.BlockSlate=true
    B:zathrox.explorercraft.blocks.JadeOre=true
    B:zathrox.explorercraft.blocks.RubyOre=true
    B:zathrox.explorercraft.blocks.decor.BlockPillar=true
    B:zathrox.explorercraft.blocks.trees.BlockExplorerLog=true
    B:zathrox.explorercraft.blocks.trees.BlockExplorerPlanks=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


